* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @media (max-width: 1024px) {
} */

/* added sticky navbar */
nav {
  background-color: rgb(138, 187, 170);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

footer {
  text-align: center;
}

a {
  margin: 10px;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid rgb(66, 20, 109);
}

.name {
  font-size: large;
  font-weight: bold;
}

#personalPic {
  height: 40%;
  width: 40%;
}

main > img {
  width: 200px;
  float: right;
  margin-top: 10px;
}

.flex-container {
  display: flex;
}

img {
  height: 170px;
  float: right;
}

main {
  background-color: blanchedalmond;
  min-height: 100vh;
  margin-top: 40px;
}

p {
  font-size: large;
}

.quote {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

footer {
  background-color: blueviolet;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  border-top: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.portfolio {
  display: block;
  padding-top: 10px;
  padding-left: 15px;
  margin-right: 5rem;
  border-bottom: 1px solid black;
}

.project {
  background-color: rgb(184, 133, 67);
  padding: 10px;
  margin: 2em auto;
}

footer {
  text-align: center;
}

.img-footer {
  height: 7vh;
}

form {
  padding: 10px;
}
